@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Shared Style */
* {
  list-style: none;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}

.btn-primary {
  border-radius: 8px;
  color: #fff;
  background-color: #ff900e;
  padding: 20px 25px;
  cursor: pointer;
  border: 0;
}

/* nav Section Start */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  color: var(--dark-01, #131313);
  font-size: 3rem;
  /* font-style: normal; */
  font-weight: 700;
}

nav > ul {
  display: flex;
  /* justify-content: space-between; */
}

nav li {
  margin-right: 30px;
  color: var(--dark-02, #424242);
  /* text-align: center; */
  font-size: 1rem;
  /* font-style: normal; */
  font-weight: 500;
}
/* nav section ends */

/* Banner Section Starts */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banners-description {
  color: #727272;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main Style */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Teams Style */

.teams-container {
  display: flex;
  align-items: center;
}

.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content {
  padding: 0 70px;
}

.teams-title {
  font-size: 2.8rem;
}

.quick-list {
  font-weight: 500;
  color: #727272;
}

.of-our {
  color: #131313;
  font-weight: 700;
}

.text-features {
  color: #ff900e;
  font-weight: 700;
}
/* Responsive Style */

/* Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  nav > ul {
    flex-direction: column;
  }
}

/* Tablet Device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
  }
}
